.sidebar-calc{
    border:2px solid #d50808;
    padding: 18px 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 6px;
}

.sidebar-calc p{
    font-family: 'Roboto', 'Tahoma',sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
    font-size:13px;
    line-height: 17px;
}

.sidebar-calc h3{
    font-size: 13px;
    font-weight: 500;
    font-family: 'RobotoBold', 'Tahoma', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
}

.sidebar-calc-ico{
    margin-top: 25px;
    margin-bottom: 7px;
}