.bottom-cta-menu{
    background: rgba(101, 172, 219, 0.85);
    padding: 10px 0px;
    color: white;
    position: fixed;
    width: 100%;
    top: calc(100vh - 57px);
    display: none;
    transition: 0.5s ease all;
}

@media(max-width:999px){
    .bottom-cta-menu{
        top: 111vh;
    }
}

.bottomCtaForm{
    display: inline-block;
}

.bottom-cta-menu a{
    color:white;
    text-decoration: underline;
    display: inline-block;
    margin-right: 50px;
    font-size: 13px;
}

.bottom-cta-menu a[data-target="#getContract"]{
    margin-right: 0px;
}

.bottom-cta-menu__input{
    background: none;
    border: none;
    text-decoration: underline;
    min-width: 230px;
    outline: none;
    margin-right: 13px;
}

.bottom-cta-menu__input::-webkit-input-placeholder {color: white;text-decoration: underline}
.bottom-cta-menu__input::-moz-placeholder          {color: white;text-decoration: underline}
.bottom-cta-menu__input:-moz-placeholder           {color: white;text-decoration: underline}
.bottom-cta-menu__input:-ms-input-placeholder      {color: white;text-decoration: underline}

.bottom-cta-menu__input:focus::-webkit-input-placeholder {color: transparent}
.bottom-cta-menu__input:focus::-moz-placeholder          {color: transparent}
.bottom-cta-menu__input:focus:-moz-placeholder           {color: transparent}
.bottom-cta-menu__input:focus:-ms-input-placeholder      {color: transparent}

.bottom-cta-menu__ico{
    display: inline-block;
    width: 26px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 15px;
    position: relative;
    top:3px;
}

.bottom-cta-menu__order-btn{
    text-decoration: none!important;
    background: transparent;
    outline: none;
    border: 2px solid white;
    padding: 5px 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px!important;
    font-weight: bold;
    font-family: 'RobotoBold', 'Tahoma', sans-serif;
    display: inline-block;
    margin-right: 15px;
}

.bottom-cta-menu__order-btn:hover{
    border-color: transparent;
    background-color: #0071bc;
}
